
  @media (max-width: 1050px) {
    .header-contents {
      max-width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .header-contents {
      max-width: 65%;
    }
    .header-contents p {
      display: none;
    }
    .header-contents button {
      padding: 2vw 4vw;
    }
  }
  /* Mobile screens */
@media (max-width: 767px) {
    .carousel-item img {
      max-width: 100%; 
      height: auto; 
    }
  }
