.navbar {
    padding: 20px 10px; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
}

.navbar .logo {
    width: 120px; /* Adjusted width */
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    margin: 0; /* Reset margin */
}

.navbar-menu li {
    margin: 0; /* Reset margin */
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar button {
    background: transparent;
    color: #49557e;
    border: 1px solid tomato;
    font-size: 16px; /* Adjusted font size */
    padding: 8px 20px; /* Adjusted padding */
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
    background-color: #e6e6e6;
    color: #49557e;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-search {
    position: relative;
}

.navbar-search input {
    width: 100%; /* Adjusted input width */
    padding: 10px 20px; /* Adjusted padding */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-results {
    position: absolute;
    top: calc(100% + 10px); /* Adjusted top position */
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.search-result-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

@media(max-width:900px) {
    .navbar .logo {
        width: 100px; /* Further reduced width for smaller screens */
    }
}
